.profileHeaderContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profileHeaderAvatar {
        width: 128px;
        min-width: 96px;
        height: 128px;
        background-color: #1C1825;
        border-radius: 100%;
    }

    .profileHeaderText {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .profileHeaderName {
            width: 160px;
            height: 36px;
            background-color: #1C1825;
        }

        .profileHeaderBio {
            width: 200px;
            height: 20px;
            background-color: #1C1825;
        }
    }
}

@media screen and (max-width: 768px) {
    .profileHeaderContainer {
        padding-left: 2rem;

        .profileHeaderAvatar {
            width: 96px;
            height: 96px;
            background-color: #1C1825;
            border-radius: 100%;
        }
    }
}