.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        align-self: flex-start;
    }   

    .toolbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .addBtn {
        cursor: pointer;
    }
    
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .listPagination {
        margin-top: 24px;
        text-align: center;
    
        :global(.ant-pagination-item),
        :global(.ant-pagination-prev .ant-pagination-item-link),
        :global(.ant-pagination-next .ant-pagination-item-link) {
            background-color: #1c1825;
            border: 1px solid #333;
            border-radius: 4px;
    
            a {
                color: #fff;
            }
    
            &:hover {
                background-color: #333;
                border-color: #555;
    
                a {
                    color: #fff;
                }
            }
        }
    
        :global(.ant-pagination-item-active) {
            background-color: #09080c;
            border-color: #fff;
    
            a {
                color: #fff;
                font-weight: bold;
            }
    
            &:hover {
                background-color: #09080c;
                border-color: #fff;
    
                a {
                    color: #fff;
                }
            }
        }
    
        :global(.ant-pagination-item-link .anticon) {
            color: #fff;
        }
    
        :global(.ant-pagination-disabled .ant-pagination-item-link) {
            background-color: #09080c;
            border-color: #09080c;
            cursor: not-allowed;
    
            .anticon {
                color: #555;
            }
        }
    }
    
}