.carouselContainer {
    max-width: 800px;
    .carousel {
        margin-left: -2rem;
    }
    .reviewGroup {

        padding: 1rem 2rem 2rem 2rem;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: auto;
    }
    .noReviews {
        margin-top: 2rem;
        color: #666;
        font-style: italic;
    }
}
