.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .formItemLabel {
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
    }

    .formItemInput {
      color: #fff;
      background-color: #443c68;
      border-radius: 0.5rem;
      border: 1px solid #e0e0e0;
      padding: 0.5rem;
      font-size: 1rem;
      &::placeholder {
        color: #b1b1b1;
      }
    }
  }

  .formSelect {
    color: #fff;
    background-color: #443c68;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    font-size: 1rem;

    .formSelectOption {
      color: #fff;
      background-color: #443c68;
      border-radius: 0.5rem;
      border: 1px solid #e0e0e0;
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}
