.bestResult {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background: rgb(28, 24, 37);
  border-radius: 8px;
  gap: 1rem;
  overflow: hidden;

  .bestCoverContainer {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    .bestCover {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      display: block;
      object-fit: cover;
    }
  }

  .bestInfo {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1.5rem 1rem;
    gap: 2rem;

    .trackInfoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .trackInfo {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .bestArtist {
          color: #adadad;
        }
      }
    }
  }
}
