.carouselItemContainer {
    font-family: "Inter", sans-serif;
    background-color: #1c1825;
    padding: 1rem;
    border-radius: 1rem;

    color: #fff;

    display: flex;
    gap: 1rem;

    .carouselItemImage {
        border-radius: 0.5rem;
    }

    .carouselItemTextWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
        
        .carouselItemTitleWrapper {
            display: flex;
            justify-content: space-between;
        }

        .carouselItemArtistName {
            margin-top: -0.5rem;
        }

        .carouselItemComment {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
