.customModal {
  :global(.ant-modal-content) {
    background: #1c1825 !important;
    color: #fff !important;
    border: none !important;
    transition: background 0.2s;
  }

  :global(.ant-modal-title),
  :global(.ant-modal-header),
  :global(.ant-modal-close-x),
  :global(.ant-modal-body),
  :global(.ant-list),
  :global(.ant-list-item),
  :global(.ant-list-item-meta-title),
  :global(.ant-list-item-meta-description) {
    color: #fff !important;
    background-color: #1c1825 !important;
  }

  .listItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.2s;

    &:hover {
      background-color: #25212d !important;
    }
  }
}
