.profileContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 100%;
    width: 100%;
    padding: 2rem 4rem;

    .profileFirstWrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
