.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    width: 100%;
    padding: 2rem 4rem;

    .profileErrorMessage {
        text-align: center;
        grid-column: span 2;
    }

    .profileFirstWrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
       
        .reviewsAndListWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;

            .reviews{
                width: 50%;
            }

            .lists {
                width: 100%;
            }
        }
    }
}
