.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .userWrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3rem;
    }

    .listWrapper {}
}


@media screen and (max-width: 48rem) {
    .container {
        padding: 1rem;
    }
}

@media screen and (max-width: 64rem) {
    .container {
        .userWrapper {
            grid-template-columns: 1fr;
        }
    }
}