.musicInfoContainer {
  display: flex;
  gap: 1.5rem;

  .albumImage {
    width: 60px !important;
    height: 60px !important;
    border-radius: 1rem;
    object-fit: cover;
  }

  .musicInfoTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    .musicTitle {
      font-weight: bold;
      font-size: 1rem;
    }

    .musicArtist {
      font-size: 1rem;
    }
  }
}
