.customModal :global(.ant-modal-content) {
  background: #1c1825;
  color: white;
  border: 1px solid #1c1825;
}

.customModal :global(.ant-modal-header),
.customModal :global(.ant-modal-footer) {
  background: #1c1825;
}

.customModal :global(.ant-modal-header) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customModal :global(.ant-modal-title) {
  align-self: center;
  font-size: 1.2rem;
}

.customModal :global(.ant-modal-title),
.customModal :global(.ant-modal-footer),
.customModal :global(.ant-modal-header),
.customModal :global(.ant-modal-body),
.customModal :global(.ant-modal-close-x),
.customModal :global(.ant-btn),
.customModal :global(.ant-input),
.customModal :global(.ant-form-item-label > label) {
  color: white !important;
}

.customModal :global(.ant-btn),
.customModal :global(.ant-input),
.customModal :global(.ant-modal-close),
.customModal :global(.ant-modal-footer),
.customModal :global(.ant-modal-header) {
  border-color: #1c1825 !important;
  background: #1c1825 !important;
}

.customModal :global(.ant-btn) {
  border: 1px solid red;
}

.customModal :global(.ant-btn-primary) {
  background: #7c6aa0 !important;
  border-color: #7c6aa0 !important;
  color: #fff !important;
}
