.infoWrapper {
    display: flex;
    gap: 1rem;

    .image {
        border-radius: 0.5rem;
    }

    .infoWrapperText {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            font-size: 1rem;
        }

        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.825rem;
            opacity: 0.75;
        }
    }
}

.reviewWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    .optionBtn {
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .infoWrapper {
        display: flex;
        gap: 1rem;

        .image {
            border-radius: 0.5rem;
        }

        .infoWrapperText {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                font-size: 1rem;
            }

            p {
                font-size: 0.825rem;
                opacity: 0.75;
            }
        }
    }

    .reviewWrapper {
        display: flex;
        width: 100%;
        padding-left: 4.75rem;
        justify-content: space-between;
        align-items: center;


        .baseReviewComponent {
            order: 1;
        }

        .commentIcon {
            order: 2;
        }

        .optionBtn {
            order: 3;
            background: none;
            border: none;
            cursor: pointer;
            color: #fff;
        }
    }

}